body {
    width: 100%;
    height: 844px;
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Clases frecuentes */
:root {
    --fuentePrincipal: 'Edu NSW ACT Foundation', cursive;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Contenedor Principal */
.tituloCalculadora {
    margin: 5px;
    font-weight: bold;
}
.contenedorPrincipal {
    width: 370px;
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 90px;
    border-radius: 6px;
    margin-bottom: 30px;
}
.contenedorPantalla {
    width: 360px;
    height: 80px;
    margin-top: 4px;
    margin-bottom: 5px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.pantallaTexto {
    width: 350px;
    height: 70px;
    font-size: 40px;
    text-align: center;
}
/* Contenedor Btns*/
.contenedorBtns {
    width: 360px;
    height: 360px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btnAC, .btn0 {
    grid-column: 1 / 3;
}
.btnIgual {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}
.btnParentecisAbrir {
    grid-column: 1 / 3;
}
.btnParentecisCerrar {
    grid-column: 3 / 5;
}
.btn:hover {
    cursor: pointer;
}


/* Diseño de los Botones */
.btn {
    font-size: 25px;
    background-color: #FC4F00;
}
.btnAC {
    background-color: #B71375;
}
.btnDiv, 
.btnMult, 
.btnResta, 
.btnSuma {
    background-color: #394867;
}
.btnIgual {
    background-color: #05BFDB;
}

/* Contenedor - Footer */
.inf {
    width: 390px;
    padding-left: 5px;
    padding-left: 5px;
}
p, h1 {
    font-family: var(--fuentePrincipal);
}
.contacto {
    display: flex;
    justify-content: space-around;
}
.infPresentacion {
    text-align: center;
    font-size: 17px;
}
.titulo-contacto {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.subtituloContacto {
    margin-top: 10px;
    font-size: 19px;
}
.codigoEnlace {
    margin-top: 20px;
    text-align: center;
    color: black;
}